<p>원하는 NASDAQ 주식의 심볼을 입력하세요 : </p>
<form action="/stock/show_stock_info">
	Symbol입력: <input type="text" name="company" placeholder="fb, amzn, aapl, tsla.."><br>
  <input type="submit" value="Submit">
</form>