<h1>첫 페이지 입니다.</h1>
<form action="/attack">
  누가: <input type="text" name="userA"><br>
  누구를:
  <input type="text" name="userB"><br>
  <input type="submit" value="공격">
</form>

<form action="/defense">
  누가: <input type="text" name="userA"><br>
  누구를:
  <input type="text" name="userB"><br>
  <input type="submit" value="방어">
</form>
